<nav class="navbar bg-danger">
  <div class="container-fluid">
  	<%= link_to 'Home page', root_path, class:"navbar-brand" %>
  	<%= link_to 'About Us', home_about_path, class:"navbar-brand" %>
    <%= link_to 'Full Pokedex', pokemons_path, class:"navbar-brand" %>
    <%= link_to 'Add New Pokemon', new_pokemon_path, class:"navbar-brand" %>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>