<h1>Editing pokemon</h1>

<%= render "form", pokemon: @pokemon %>

<br>

<div>
  <%= link_to "Show this pokemon", @pokemon, class:"btn btn-warning" %>
  <%= link_to "Back to pokemons", pokemons_path, class:"btn btn-primary" %>
</div>
